## Interactive Dashboards - Michelin Restaurants

### Clean and Transorm Data

#### Usefull Imports

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from pathlib import Path
import re

#### Read Data

In [7]:
path1 = Path("one-star-michelin-restaurants.csv")
file_path1 = str(path1.parent.absolute().parent.absolute()) + '\\01. Data\\' + str(path1)

path2 = Path("two-stars-michelin-restaurants.csv")
file_path2 = str(path2.parent.absolute().parent.absolute()) + '\\01. Data\\' + str(path2)

path3 = Path("three-stars-michelin-restaurants.csv")
file_path3 = str(path3.parent.absolute().parent.absolute()) + '\\01. Data\\' + str(path3)

In [8]:
df_original_1 = pd.read_csv(file_path1)
df_original_2 = pd.read_csv(file_path2)
df_original_3 = pd.read_csv(file_path3)

#### Transform Data

In [12]:
df_original_1['Michelin Stars'] = 1
df_original_2['Michelin Stars'] = 2
df_original_3['Michelin Stars'] = 3

In [13]:
frames = [df_original_1, df_original_2, df_original_3]
df = pd.concat(frames)

In [14]:
df

,name,year,latitude,longitude,city,region,zipCode,cuisine,price,url,Michelin Stars
0,Kilian Stuba,2019,47.348580,10.171140,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...,1
1,Pfefferschiff,2019,47.837870,13.079170,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
2,Esszimmer,2019,47.806850,13.034090,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
3,Carpe Diem,2019,47.800010,13.040060,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...,1
4,Edvard,2019,48.216503,16.368520,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...,1
...,...,...,...,...,...,...,...,...,...,...,...
31,Fat Duck,2019,51.508280,-0.702320,Bray,United Kingdom,SL6 2AQ,Creative,NaN,https://guide.michelin.com/gb/en/buckinghamshi...,3
32,Waterside Inn,2019,51.507730,-0.701210,Bray,United Kingdom,SL6 2AT,Classic French,NaN,https://guide.michelin.com/gb/en/buckinghamshi...,3
33,Alain Ducasse at The Dorchester,2019,51.507120,-0.152520,Mayfair,United Kingdom,W1K 1QA,French,NaN,https://guide.michelin.com/gb/en/greater-londo...,3
34,The Araki,2019,51.511826,-0.140389,Mayfair,United Kingdom,W1S 3BF,Japanese,NaN,https://guide.michelin.com/gb/en/greater-londo...,3
35,Gordon Ramsay,2019,51.485460,-0.162020,Chelsea,United Kingdom,SW3 4HP,French,NaN,https://guide.michelin.com/gb/en/greater-londo...,3

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 695 entries, 0 to 35
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            695 non-null    object
 1   year            695 non-null    int64
 2   latitude        695 non-null    float64
 3   longitude       695 non-null    float64
 4   city            693 non-null    object
 5   region          695 non-null    object
 6   zipCode         501 non-null    object
 7   cuisine         695 non-null    object
 8   price           519 non-null    object
 9   url             695 non-null    object
 10  Michelin Stars  695 non-null    int64
dtypes: float64(2), int64(2), object(7)
memory usage: 65.2+ KB

#### Clean Data

In [19]:
df.drop(columns=['url', 'zipCode'], inplace=True)

In [32]:
df.dropna(subset='price', inplace=True)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519 entries, 0 to 30
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            519 non-null    object
 1   year            519 non-null    int64
 2   latitude        519 non-null    float64
 3   longitude       519 non-null    float64
 4   city            517 non-null    object
 5   region          519 non-null    object
 6   cuisine         519 non-null    object
 7   price           519 non-null    object
 8   Michelin Stars  519 non-null    int64
dtypes: float64(2), int64(2), object(5)
memory usage: 40.5+ KB

In [59]:
def convert_dollars(str_cell):
    if str_cell == '$':
        price = 1
    elif str_cell == '$$':
        price = 2
    elif str_cell == '$$$':
        price = 3
    elif str_cell == '$$$$':
        price = 4
    elif str_cell == '$$$$$':
        price = 5
    else:
        price = 0
    return int(price)

In [60]:
df['price'] = list(map(convert_dollars, df['price']))

In [65]:
#df['dollar_count'] = df['price'].apply(lambda x: len(re.findall(r'$+', x)))

In [61]:
df

,name,year,latitude,longitude,city,region,cuisine,price,Michelin Stars,dollar_count
0,Kilian Stuba,2019,47.348580,10.17114,Kleinwalsertal,Austria,Creative,5,1,1
1,Pfefferschiff,2019,47.837870,13.07917,Hallwang,Austria,Classic cuisine,5,1,1
2,Esszimmer,2019,47.806850,13.03409,Salzburg,Austria,Creative,5,1,1
3,Carpe Diem,2019,47.800010,13.04006,Salzburg,Austria,Market cuisine,5,1,1
4,Edvard,2019,48.216503,16.36852,Wien,Austria,Modern cuisine,4,1,1
...,...,...,...,...,...,...,...,...,...,...
26,La Yeon,2019,37.555813,127.00517,Seoul,South Korea,Korean,4,3,1
27,Gaon,2019,37.522650,127.03595,Seoul,South Korea,Korean,5,3,1
28,Frantzén,2019,59.334180,18.05812,Stockholm,Sweden,Modern cuisine,4,3,1
29,Le Palais,2019,25.049496,121.51674,Taipei,Taipei,Cantonese,2,3,1
30,The Inn at Little Washington,2019,38.713623,-78.16208,"Washington, D.C.",Washington DC,American,4,3,1

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519 entries, 0 to 30
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            519 non-null    object
 1   year            519 non-null    int64
 2   latitude        519 non-null    float64
 3   longitude       519 non-null    float64
 4   city            517 non-null    object
 5   region          519 non-null    object
 6   cuisine         519 non-null    object
 7   price           519 non-null    int64
 8   Michelin Stars  519 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 56.7+ KB

In [70]:
# converting to CSV file
path = Path("one-star-michelin-restaurants.csv")
file_path = str(path.parent.absolute().parent.absolute()) + '\\01. Data\\Cleaned_Data.csv'
df.to_csv(file_path)